*.pyc
input/*
build/*
*.so
*.o
*.log
*.txt
*.s
*.gz
synthesizer/discard/*
synthesizer/build/*
synthesizer/synthesizer.c
YYmix2
synthesizer/turbospectrum/bin/*
synthesizer/turbospectrum/exec-gf-v15.1/*.o
synthesizer/ARES/bin/*
synthesizer/moog/*.o
synthesizer/moog/MOOGSILENT
synthesizer/moog/fake_sm-2.4.35/lib/*
synthesizer/moog/fake_sm-2.4.35/src/*.o
