numpy>=2.5.3
scipy>=1.18.1
matplotlib>=3.11.2
astropy>=8.0.1
pyvo>=1.9.1
lockfile>=0.12.2
Cython>=3.3.0
pandas>=3.0.6
statsmodels>=0.15.0
dill>=0.4.1
h5py>=3.16.0
hdf5plugin>=7.1.0
setuptools>=84.0.0
